<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header> Cow </ion-list-header>
    <ion-row>
      <ion-col size="12">
        <cow-list-item [listItems]="list" (items)="selectedItems($event)"></cow-list-item>
      </ion-col>



    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="3" *ngFor="let item of list">
        <ion-card color="light">
          <img [src]="item?.image" />
          <ion-card-content>
            <ion-accordion-group>
              <ion-accordion value="Info">
                <ion-item slot="header" color="light">
                  <ion-label>Self-Info</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-list>
                    <ion-item>
                      <ion-label> Name: {{item.name| titlecase }} </ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-label> Breed: {{item.breed}} </ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-label> DOB: {{item.dob}} </ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-label> Gender: {{item.gender}} </ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-label> Feeding: {{item.feeding}} </ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-label> Children: {{item.children?item.children:'N/A'}} </ion-label>
                    </ion-item>
                  </ion-list>
                </div>
              </ion-accordion>

              <ion-accordion value="parentRelation">
                <ion-item slot="header" color="light">
                  <ion-label>Parent-info</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-list>
                    <ion-item>
                      <ion-label> Name: {{item?.parentRelation?.parentName | titlecase}} </ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-label> Teeth: {{item.parentRelation.teeth}} </ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-label> Tagname: {{item.parentRelation.tagName}} </ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-label> Children: {{item.parentRelation.noOfChildren}} </ion-label>
                    </ion-item>
                  </ion-list>
                </div>
              </ion-accordion>

              <ion-accordion value="Disease">
                <ion-item slot="header" color="light">
                  <ion-label>Disease</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-list>
                    <ion-item *ngFor="let item of item.disease">
                      <ion-label> {{item.name}}: {{item.year}} </ion-label>
                    </ion-item>
                  </ion-list>
                </div>
              </ion-accordion>
            </ion-accordion-group>
          </ion-card-content>
        </ion-card>
       </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
