<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ng-container  *ngFor="let member of product">

      <ion-col size="12" size-md="6" size-lg="3" *ngIf="member.avail">
        <ion-card class="ion-no-margin">

            <img
              [src]="member.image"
              [alt]="member.name"

            >
            <ion-card-title><ion-chip color="primary">{{(member.price?member.price:0) | currency:'INR'}}</ion-chip></ion-card-title>
              <ion-card-title>{{member.name}}</ion-card-title>
              <ion-card-content>{{member.desc}}</ion-card-content>

        </ion-card>

      </ion-col>
    </ng-container>

  </ion-row>


</ion-content>
