// .medicine{
//   height: 50vh;
// }
img {
  max-width: 100%;
  border: 0;
  height: 10rem;
  /* padding-top: 15px; */
  width: 80%;
}
.medicine{
  text-align: center;
}
fa-icon.ng-fa-icon {
  color: grey;
  font-size: 1.3rem;
}
